# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.CryptradeNotif.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\icond\Documents\Coding\Discord Projects\cryptrade-notif-bot\CryptradeNotif\.idea\.idea.CryptradeNotif\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
